[submodule "themes/geekblog"]
	path = themes/geekblog
	url = https://github.com/thegeeklab/hugo-geekblog
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke
